<footer class="pt-4">
    <div class="three row m-0 col-12 p-5 mb-4">
        <div class="container text-center col-lg-6 col-sm-12 p-lg-5"></div>
        <div class="container text-center col-lg-6 col-sm-12 p-lg-5">
            <h1 class="mb-0">
                Get Serving Matched With Great Workmanship and Professionalism.
            </h1>
        </div>
    </div>
    <div class="container-fluid footer text-center">
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Tooltip on left"><a href="/" class="nav-link">Home</a></button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Tooltip on top"><a href="/contact" class="nav-link">Contact</a></button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Tooltip on bottom"><a href="/about" class="nav-link">About</a></button>
    </div>
    <h6 class="text-center pt-2">Copyright &copy;CARS 2023.</h6>
</footer>
</body>
</html>