<%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <div class="container text-center col-sm-12 col-lg-5 pt-4">
        <h1>
            404
        </h1>
        <p>
            The site configured at this address does not contain the requested file.
            <br><br>
            If this is your site, make sure that the filename case matches the URL.
            For root URLs (like http://example.com/) you must provide an index.html file.
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>