
<%- include('./partials/header.ejs') %> 

    <%- include('./partials/nav.ejs') %> 
    <%- include('./partials/first.ejs') %> 
    
    <h1 class="container pt-4 text-center mb-4 ">
        Years of Expericence
    </h1>
    <div class="m-0 row col-12 p-5">
        <div class="two col-sm-12 col-lg-7 p-5">
        </div>
        <div class="col-sm-12 text-center col-lg-5 p-5">
                <h2>Our 25 Years of experience in this field, makes sure thats the job gets done perfectly.</h2>
                <button type="button" class="btn btn-outline-primary"><a class="nav-link" href="/about">KNOW MORE</a></button>
        </div>
    </div>

    <div class="m-0 row col-12 p-lg-5">
        <div class="col-sm-12 text-center col-lg-5 p-5">
                <h2>WE ARE
                    100% Approved By Customers.</h2>
                
        </div>
        <div class="second two col-sm-12 col-lg-7 p-5">
        </div>
    </div>

    <div class=" container p-5 pt-4">
        <h2 class="pt-4">WHY US?</h2>
        <p>We Perform basic auto care and maintenance tasks such as oil changes,
            fluid level checks, and tire rotation. Repair and replace brake pads,
            wheel bearings, sensors and other parts. Perform routine maintenance and
            general mechanic work on vehicles.
            Get all genuine parts as per your requirement. Feel free to ask any doubts and quries.
        </p>
        <p>We Perform basic auto care and maintenance tasks such as oil changes,
            fluid level checks, and tire rotation. Repair and replace brake pads,
            wheel bearings, sensors and other parts. Perform routine maintenance and
            general mechanic work on vehicles.
            Get all genuine parts as per your requirement. Feel free to ask any doubts and quries.
            We Perform basic auto care and maintenance tasks such as oil changes,
            fluid level checks, and tire rotation. Repair and replace brake pads,
            wheel bearings, sensors and other parts. Perform routine maintenance and
            general mechanic work on vehicles.
            Get all genuine parts as per your requirement. Feel free to ask any doubts and quries.
            We Perform basic auto care and maintenance tasks such as oil changes,
            fluid level checks, and tire rotation. Repair and replace brake pads,
            wheel bearings, sensors and other parts. Perform routine maintenance and
            general mechanic work on vehicles.
            Get all genuine parts as per your requirement. Feel free to ask any doubts and quries.
        
        </p>
    </div>
    

    <%- include('./partials/footer.ejs') %>
